@media screen and (max-width:1020px) {
    .menubar {
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }
    .menubar ul li a {
        text-decoration: none;
        color: white;

    }
    .menubar li:hover::before {
        background: radial-gradient(circle, rgba(174, 238, 236, 1) 0%, rgba(9, 24, 214, 0.29735644257703087) 100%);
        box-shadow: 0 3px 20px 0 rgb(27, 27, 27);
        transform: scale(1.1);
    }
}
@media screen and (max-width:768px) {
    .menubar {
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
       
    }
    .menubar ul li a {
        text-decoration: none;
        color: white;

    }
    .menubar li:hover::before {
        background: radial-gradient(circle, rgba(174, 238, 236, 1) 0%, rgba(9, 24, 214, 0.29735644257703087) 100%);
        box-shadow: 0 3px 20px 0 rgb(27, 27, 27);
        transform: scale(1.1);
    }
}